body {
	background-image: url("../images/background.jpg");
	background-position: -2% 10%;
}
.panel-body, .panel {
	background: rgba(200,200,200, 0.2);
	text-align: center;
}
.img_size {
	width: 125px;
	height: auto;
	display: inline-block;
}
 #newGameBtn {
	background-color: #bbbbbb;
	font-family: ITC Serif Gothic;
	border: solid #cccccc 2px;
	border-radius: 5px;
}
#attackButton:hover{
	background-color:red;
}
#newGameBtn:hover{
	background-color:red;
}
.inline {
	display: inline;
} 
.names {
	display: block;
}
.winner {
	background-color: yellow;
}
.loser {
	background-color: red;
}
.remainingTitle {
	background-color: #bbbbbb;
	font-family: ITC Serif Gothic;
	border: solid #cccccc 2px;
	border-radius: 5px;
}