body {
	background-image: url("../images/background.jpg");
	background-position: -2% 10%;
}
.panel-body, .panel {
	background: rgba(200,200,200, 0.2);
	text-align: center;
}
.img_size {
	width: 125px;
	height: auto;
	display: inline-block;
}
#attackButton {
	font-family: ITC Serif Gothic;

}
#attackButton:hover{
	color:red;
}
.inline {
	display: inline-block;
} 
.names {
	display: block;
}